body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

#question {
    margin-bottom: 20px;
}

#options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.option {
    margin: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.selected {
    font-size: 18px;
    color: green;
}
/* Add these styles to your existing CSS file */

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
